.articleBody
{
    width: 60vw;
    max-width: 900px;
    height: 80vh;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    margin: auto;
    padding: 0px;
    
    margin-top: 20px;
    margin-bottom: 70px;
}

.articleText
{
    width: 100%;
    height: 100%;
    
    overflow: hidden;
}

#embeddedHtml
{
    width: 100%;
    height: 100%;
    
    margin: auto;
}

.articleFooter
{
    background-color: #3ee044;
    
    width: 100%;
    height: 50px;
    
    margin: 0px;
    padding: 0px;
}

.comments
{
    height: 45px;
    z-index: 1;
    
    float: left;
    
    border-radius: 25px;
    
    margin-left: 2.5px;
    margin-top: 2.5px;
}

#commentsText
{
    float: right;
}

.commentsImg
{
    width: 40px;
    height: 40px;
    z-index: 1;
    
    display: block;
    
    float: left;
    
    margin: auto;
    margin-top: 2.5px;
    margin-left: 2.5px;
}

.comments:hover
{
    background-color: white;
}

.comments:hover .whiteTextFooter
{
    color: black;
}

.fullArticle
{
    height: 45px;
    z-index: -1;
    
    float: right;
    
    border-radius: 25px;
    
    margin-right: 2.5px;
    margin-top: 2.5px;
}

.fullArticle:hover
{
    background-color: white;
}

.fullArticle:hover .whiteTextFooter
{
    color: black;
}

.whiteTextFooter
{
    color: white;
    
    font-size: 12px;
    
    margin-top: 16.5px;
    margin-left: 5px;
    margin-right: 5px;
}
