/*
#homepage
{
    /*background-color: #3ee044;*
    
    max-width: 100vw;
    /*height: 500px;*
    
    display: block;
    
    margin: 0px;
    padding: 0px;
}
*/

#greetings
{
    width: 60vw;
    max-width: 600px;
    
    /*border: solid 2px black;*/
    
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}
