#inProgress
{
    width: 60vw;
    max-width: 600px;
    
    /*border: solid 2px black;*/
    
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
}

#progress
{
    text-align:  center;
}
